- name: Check if Zabbix is present
  stat:
    path: /etc/zabbix/zabbix_agentd.conf
  register: zabbix_status

- name: Install Zabbix agent
  become: yes
  ansible.builtin.apt:
    name: zabbix-agent
    state: latest
    update_cache: yes
  when: not zabbix_status.stat.exists

- name: Configure zabbix_agentd.conf
  template:
    src: config/zabbix_agentd.conf_ubuntu.j2
    dest: /etc/zabbix/zabbix_agentd.conf
  when: not zabbix_status.stat.exists

- name: Ensure Zabbix agent is active and enabled
  service:
    name: zabbix-agent
    state: started
    enabled: yes
  when: not zabbix_status.stat.exists

- name: Register host in Zabbix
  become: false
  vars:
    ansible_connection: httpapi
  # Replace ZABBIX_SERVER_IP with your Zabbix server IP or hostname
  delegate_to: ZABBIX_SERVER_IP
  community.zabbix.zabbix_host:
    host_name: "{{ ansible_name }}"
    visible_name: "{{ ansible_name }}"
    host_groups:
      - Virtual machines
      - '{{ zabbix_host_group }}'
    link_templates:
      - '{{ zabbix_template }}'
    status: enabled
    state: present
    interfaces:
      - type: "1"
        main: "1"
        useip: "1"
        ip: "{{ inventory_hostname }}"
        dns: ""
        port: "10050"
          # when: not zabbix_status.stat.exists

- name: Restart zabbix-agent
  service:
    name: zabbix-agent
    state: restarted
    enabled: true
  #  when: not zabbix_status.stat.exists
